{% extends 'base.html' %}

{% block content %}
<div class="mx-auto">
  <div class="grid grid-cols-3 lg:grid-cols-6 mt-5">
    <div class="col-span-1">
      <img class="rounded-xl object-contain h-72" src="{{ object.image.url }}" alt="Image Description">
    </div>
    <div class="flex items-start col-span-2">
      <!-- End Col -->
      <div class="ml-5">
        <h3 class="block text-3xl font-bold text-gray-800 dark:text-white">{{ object.name }}</h3>
        <a href="{% url 'creator' object.creator.pk %}">
          <p class="text-gray-600 dark:text-gray-400">
            {{ object.creator }}
          </p>
        </a>
        <div class="flex items-center mt-1">
          <star-rating
              :increment="0.01"
              rating="{{object.rating}}"
              :read-only="true"
              v-bind:star-size="20"
              :show-rating="false"
              inactive-color="#9ca3af"
              active-color="#ffa503"
              :inline="true"
              class="pb-1.5"
            ></star-rating>
          <h3 class="ml-3 text-xl font-semibold text-gray-800 dark:text-gray-300">
            {{ object.rating | floatformat:2 }}
          </h3>
          <svg xmlns="http://www.w3.org/2000/svg" fill="orange" viewBox="0 0 24 24" stroke-width="1.5" stroke="none" class="ml-3 w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z" />
          </svg>  
          <h3 class="ml-3 text-xl font-semibold text-gray-800 dark:text-gray-300">
            {{ object.bookmarks.all.count }}
          </h3>
        </div>
          <h3 class="text-xl font-semibold text-gray-800 dark:text-gray-300">
            {{ object.playings }} playings
          </h3>
        <div class="flex mt-3">
          <el-button
            type="primary"
            tag="a"
            class="text-sm font-semibold h-10 mt-4"
            href="{% url "playing" object.pk %}"
            target="_blank"
            rel="noopener noreferrer"
          >謎解きサイトへ</el-button>
          {% if user.is_authenticated %}
          {% if user in object.bookmarks.all %}
          <a href="{% url "removebookmark" object.pk %}" class="ml-3 py-2 px-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
            ブックマークを外す
          </a>
          {% else %}
          <a href="{% url "bookmark" object.pk %}" class="ml-3 py-2 px-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
            ブックマーク
          </a>
          {% endif %}
          {% else %}
          <a href="{% url "login" %}" class="ml-3 py-2 px-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
            ブックマーク
          </a>
          {% endif %}
        </div>
        <p class="mt-3 text-lg text-gray-800 dark:text-gray-400">{{ object.description }}</p>
      </div>
      <!-- End Col -->
    </div>
    <div class="grid-span-1">
      <div class="flex items-center mt-3">
        <el-icon :size="24" color="white">
          <Location></Location>
        </el-icon>
        <span class="mx-4 text-gray-700 dark:text-gray-300">{{ object.get_type_display }}</span>
      </div>
      <div class="flex items-center mt-1">
        <el-icon :size="24" color="white">
          <Timer></Timer>
        </el-icon>
        <span class="mx-4 text-gray-700 dark:text-gray-300">{{ object.get_time_display }}</span>
      </div>
      <div class="flex items-center mt-1">
        <el-icon :size="24" color="white">
          <Opportunity></Opportunity>
        </el-icon>        
        <span class="mx-4 text-gray-700 dark:text-gray-300">{{ object.get_level_display }}</span>
      </div>
      <div class="flex items-center mt-1">
        <el-icon :size="24" color="white">
          <Calendar></Calendar>
        </el-icon>        
        <span class="mx-4 text-gray-700 dark:text-gray-300">{{ object.release_date|date:"Y/m/j" }} ~ {{ object.end_date|date:"Y/m/j" }}</span>
      </div>
      <div class="flex items-center mt-1">           
        <span class="mx-4 text-gray-700 dark:text-gray-300">ストーリー性：{{ object.rating_story }}</span>
      </div>
      <div class="flex items-center mt-1">           
        <span class="mx-4 text-gray-700 dark:text-gray-300">ギミック：{{ object.rating_gimmick }}</span>
      </div>
      <div class="flex items-center mt-1">           
        <span class="mx-4 text-gray-700 dark:text-gray-300">スッキリ感：{{ object.rating_sukkiri }}</span>
      </div>
      <div class="flex items-center mt-1">           
        <span class="mx-4 text-gray-700 dark:text-gray-300">難易度：{{ object.rating_level }}</span>
      </div>
    </div>
  </div>
  <!-- End Grid -->
  {% if user.is_authenticated %}
  {% if reviewed %}
  <p class="mt-3 text-lg text-gray-800 dark:text-gray-400">評価済みです</p>
  {% else %}
  <form method="POST">{% csrf_token %}
    <div class="max-w-[85rem] px-6 mx-auto mt-5 grid grid-cols-2 lg:grid-cols-6">
      <div class="relative cols-span-1 m-2">
        {{ form.rating }}
        <label class="absolute top-0 start-0 p-4 h-full truncate pointer-events-none transition ease-in-out duration-100 border border-transparent dark:text-white peer-disabled:opacity-50 peer-disabled:pointer-events-none
          peer-focus:text-xs
          peer-focus:-translate-y-1.5
          peer-focus:text-gray-500
          peer-[:not(:placeholder-shown)]:text-xs
          peer-[:not(:placeholder-shown)]:-translate-y-1.5
          peer-[:not(:placeholder-shown)]:text-gray-500"
          for="{{ form.level.id_for_label }}"
        >{{ form.rating.label }}
        </label>
      </div>
      <div class="relative cols-span-1 m-2">
        {{ form.rating_story }}
        <label class="absolute top-0 start-0 p-4 h-full truncate pointer-events-none transition ease-in-out duration-100 border border-transparent dark:text-white peer-disabled:opacity-50 peer-disabled:pointer-events-none
          peer-focus:text-xs
          peer-focus:-translate-y-1.5
          peer-focus:text-gray-500
          peer-[:not(:placeholder-shown)]:text-xs
          peer-[:not(:placeholder-shown)]:-translate-y-1.5
          peer-[:not(:placeholder-shown)]:text-gray-500"
          for="{{ form.rating_story.id_for_label }}"
        >{{ form.rating_story.label }}
        </label>
      </div>
      <div class="relative cols-span-1 m-2">
        {{ form.rating_gimmick }}
        <label class="absolute top-0 start-0 p-4 h-full truncate pointer-events-none transition ease-in-out duration-100 border border-transparent dark:text-white peer-disabled:opacity-50 peer-disabled:pointer-events-none
          peer-focus:text-xs
          peer-focus:-translate-y-1.5
          peer-focus:text-gray-500
          peer-[:not(:placeholder-shown)]:text-xs
          peer-[:not(:placeholder-shown)]:-translate-y-1.5
          peer-[:not(:placeholder-shown)]:text-gray-500"
          for="{{ form.rating_gimmick.id_for_label }}"
        >{{ form.rating_gimmick.label }}
        </label>
      </div>
      <div class="relative cols-span-1 m-2">
        {{ form.rating_sukkiri }}
        <label class="absolute top-0 start-0 p-4 h-full truncate pointer-events-none transition ease-in-out duration-100 border border-transparent dark:text-white peer-disabled:opacity-50 peer-disabled:pointer-events-none
          peer-focus:text-xs
          peer-focus:-translate-y-1.5
          peer-focus:text-gray-500
          peer-[:not(:placeholder-shown)]:text-xs
          peer-[:not(:placeholder-shown)]:-translate-y-1.5
          peer-[:not(:placeholder-shown)]:text-gray-500"
          for="{{ form.rating_sukkiri.id_for_label }}"
        >{{ form.rating_sukkiri.label }}
        </label>
      </div>
      <div class="relative cols-span-1 m-2">
        {{ form.rating_level }}
        <label class="absolute top-0 start-0 p-4 h-full truncate pointer-events-none transition ease-in-out duration-100 border border-transparent dark:text-white peer-disabled:opacity-50 peer-disabled:pointer-events-none
          peer-focus:text-xs
          peer-focus:-translate-y-1.5
          peer-focus:text-gray-500
          peer-[:not(:placeholder-shown)]:text-xs
          peer-[:not(:placeholder-shown)]:-translate-y-1.5
          peer-[:not(:placeholder-shown)]:text-gray-500"
          for="{{ form.rating_level.id_for_label }}"
        >{{ form.rating_level.label }}
        </label>
      </div>
      <div class="relative cols-span-1 m-2">
        <button type="submit" class="py-2 px-3 h-full w-full inline-flex items-center justify-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
          評価
        </button>
      </div>
    </div>
  </form>
  {% endif %}
  {% endif %}
</div>
<!-- End Hero -->
{% endblock content %}
{% block script %}
<script>
  const app = Vue.createApp({
    data() {
      return {
        enabled: false,
        riddle_list: [],
        page: 1,
        count: 0,
        page_count: 0,
        selectType: [],
        selectTime: [],
        selectLevel: [],
        selectWord: "",
        selectOrder: "created_at",
        filterKwargs: "",
        userId: "{{ user.id }}",
        typeSet: [
          {
            title: "WEB",
            value: "web",
          },
          {
            title: "LINE",
            value: "line",
          },
        ],
        timeSet: [
          {
            title: "〜15分",
            value: "10",
          },
          {
            title: "15分〜45分",
            value: "30",
          },
          {
            title: "45分〜90分",
            value: "60",
          },
          {
            title: "90分〜180分",
            value: "120",
          },
          {
            title: "180分〜",
            value: "300",
          },
        ],
        levelSet: [
          {
            title: "初級",
            value: "1",
          },
          {
            title: "中級",
            value: "2",
          },
          {
            title: "上級",
            value: "3",
          },
        ],
        orderSet: [
          {
            title: "新着順",
            value: "created_at"
          },
          {
            title: "難易度順",
            value: "level"
          },
          {
            title: "プレイ数順",
            value: "playings"
          },
          {
            title: "評価順",
            value: "rating"
          },
        ]
      }
    },
    //ムスタッシュ記法を変更
    compilerOptions: {
      delimiters: ['[[', ']]'],
    },
    // HTMLの読み込み完了時に実行される
    mounted() {
      this.getRiddleList();
    },
    // これは任意の関数
    methods: {
      getTypeDisplay(type) {
        return this.typeSet.find(el => el.value == type).title;
      },
      getTimeDisplay(time) {
        return this.timeSet.find(el => el.value == time).title;
      },
      getLevelDisplay(level) {
        return this.levelSet.find(el => el.value == level).title;
      },
      getFilterKwargs() {
        this.filterKwargs = "?page=" + String(this.page);
        this.filterKwargs += "&order=" + this.selectOrder;
        if(this.selectType != []) {
          for(var type of this.selectType) {
            this.filterKwargs += "&type=" + type
          }
        }
        if(this.selectTime != []) {
          for(var time of this.selectTime) {
            this.filterKwargs += "&time=" + time
          }
        }
        if(this.selectLevel != []) {
          for(var level of this.selectLevel) {
            this.filterKwargs += "&level=" + level
          }
        }
        if(this.selectWord != "") {
          this.filterKwargs += "&word=" + this.selectWord
        }
      },
      getRiddleList() {
        this.getFilterKwargs();
        console.log(this.filterKwargs)
        axios.get(`/api/v2/riddle_list/${this.filterKwargs}`)
          .then((res) => {
            console.log(res)
            this.riddle_list = res.data.results
            this.count = res.data.count
            this.page_count = Math.ceil(this.count / 2)
          })
      },
      getPage(page) {
        this.page = page
        this.getRiddleList()
      },
      async playingRiddle(pk) {
        const params = ""
        await fetch(`/api/v2/playing/${pk}/`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
            'X-CSRFToken': "{{ csrf_token }}",
          },
          body: params
        })
        .then(response => response.json())
        .then(data => {
          console.log(data)
        })
        .catch((error) => {
          console.error('Error:', error);
        });
      },
      async bookmarkRiddle(pk) {
        const params = ""
        await fetch(`/api/v2/bookmark/${pk}/`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
            'X-CSRFToken': "{{ csrf_token }}",
          },
          body: params
        })
        .then(response => response.json())
        .then(data => {
          console.log(data)
        })
        .catch((error) => {
          console.error('Error:', error);
        });
        this.getRiddleList();
      },
      getBookmarked(riddle) {
        return riddle.bookmarks.includes(Number(this.userId));
      }
    },
  })
  for (const [key, component] of Object.entries(ElementPlusIconsVue)) {
    app.component(key, component)
  };
  app.component('star-rating', VueStarRating.default);
  app.use(ElementPlus);
  app.mount('#app');
</script>
{% endblock script %}