{% load myatag %}
<div class="mx-auto">
  <div class="grid lg:grid-cols-2 lg:gap-y-16 gap-10">
    
    <div class="group rounded-xl overflow-hidden bg-gray-700" v-for="riddle in this.riddle_list" :key="riddle.id">
      <div class="sm:flex p-2">
        <a :href="`/detail/${riddle.id}`">
          <div class="flex-shrink-0 relative rounded-xl overflow-hidden w-full h-48 sm:w-56 sm:h-64">
            <img
              class="group-hover:scale-105 transition-transform duration-500 ease-in-out size-full absolute top-0 start-0 object-cover rounded-xl"
              :src="riddle.image" alt="Image Description">
          </div>
        </a>
        <div class="grow mt-4 sm:mt-0 sm:ms-6 px-4 sm:px-0">
          <div class="flex items-center justify-between">
            <a :href="`/detail/${riddle.id}`">
              <h3
                class="text-gray-300 group-hover:text-white text-xl font-semibold truncate w-48">
                [[ riddle.name ]]
              </h3>
            </a>
            <span class="bookmark-button cursor-pointer" @click="bookmarkRiddle(riddle.id)">
                  <span v-show="getBookmarked(riddle)">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="orange" viewBox="0 0 24 24" stroke-width="1.5"
                           stroke="orange" class="mr-2 w-6 h-6">
                          <path stroke-linecap="round" stroke-linejoin="round"
                                d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z"/>
                      </svg>
                  </span>
                  <span v-show="!getBookmarked(riddle)">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="gray" class="mr-2 w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z"/>
                    </svg>
                </span>
          </div>
          <a :href="`/creator/${riddle.creator}`">
            <p class="text-gray-400 hover:text-white truncate w-48">
              [[ riddle.creator ]]
            </p>
          </a>
          <!-- Rating -->
          <div class="flex items-center mt-1">
            <star-rating
              :increment="0.01"
              :rating="riddle.rating"
              :read-only="true"
              v-bind:star-size="20"
              :show-rating="false"
              inactive-color="#9ca3af"
              active-color="#ffa503"
              :inline="true"
              class="pb-1.5"
            ></star-rating>
            <h3 class="ml-3 text-xl text-gray-300 font-semibold">
              [[ riddle.rating ]]
            </h3>
            <svg xmlns="http://www.w3.org/2000/svg" fill="orange" viewBox="0 0 24 24" stroke-width="1.5" stroke="none"
                 class="ml-3 w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                    d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z"/>
            </svg>
            <h3 class="ml-3 text-xl font-semibold text-gray-800 dark:text-gray-300">
              [[ riddle.bookmarks.length ]]
            </h3>
          </div>
          <div class="flex items-center mt-3">
            <el-icon :size="24" color="white">
              <Location></Location>
            </el-icon>
            <span class="mx-4 text-gray-700 dark:text-gray-300">[[ getTypeDisplay(riddle.type) ]]</span>
          </div>
          <div class="flex items-center mt-1">
            <el-icon :size="24" color="white">
              <Timer></Timer>
            </el-icon>
            <span class="mx-4 text-gray-700 dark:text-gray-300">[[ getTimeDisplay(riddle.time) ]]</span>
          </div>
          <div class="flex items-center mt-1">
            <el-icon :size="24" color="white">
              <Opportunity></Opportunity>
            </el-icon>
            <span class="mx-4 text-gray-700 dark:text-gray-300">[[ getLevelDisplay(riddle.level) ]]</span>
          </div>
          <div class="flex items-center mt-1">
            <el-icon :size="24" color="white">
              <Calendar></Calendar>
            </el-icon>
            <span
              class="mx-4 text-gray-700 dark:text-gray-300">[[ riddle.release_date ]] ~ [[ riddle.end_date ]]</span>
          </div>
          <el-button
            type="primary"
            tag="a"
            class="text-sm font-semibold h-10 mt-4"
            :href="riddle.url"
            target="_blank"
            rel="noopener noreferrer"
            @click="playingRiddle(riddle.id)"
          >謎解きサイトへ</el-button>
        </div>
      </div>
    </div>
    <!-- End Card -->
  </div>
</div>
