{% extends 'base.html' %}

{% block content %}
<div>
  <h3 class="my-4 text-xl font-semibold text-gray-300">
    最新ランキング
  </h3>
  {% include "riddle_ranking.html" %}
  <!-- Card Blog -->
  <div class="my-4 flex justify-between">
    <h3 class="text-xl font-semibold text-gray-300">
      新着一覧
    </h3>
    <a href="{% url 'list' %}">
      <h3 class="text-xl font-semibold text-gray-300 hover:text-white">
        もっと見る
      </h3>
    </a>
  </div>
  {% include "riddle_list.html" %}
</div>
{% endblock content %}
{% block script %}
<script>
  var slides;
  if (window.matchMedia('(max-width: 640px)').matches) {
    slides = 2;
  } else if (window.matchMedia('(max-width:1024px)').matches) {
    slides = 4;
  } else {
    slides = 5;
  }
  $('.slider').slick({
    infinite: true,
    slidesToShow: slides,
    autoplay: true,
    dots: true,
  });
</script>
<script>
  const app = Vue.createApp({
    data() {
      return {
        riddle_list: [],
        riddle_ranking: [],
        page_count: 0,
        userId: "{{ user.id }}",
        typeSet: [
          {
            title: "WEB",
            value: "web"
          },
          {
            title: "LINE",
            value: "line"
          }
        ],
        timeSet: [
          {
            title: "〜15分",
            value: "10"
          },
          {
            title: "15分〜45分",
            value: "30"
          },
          {
            title: "45分〜90分",
            value: "60"
          },
          {
            title: "90分〜180分",
            value: "120"
          },
          {
            title: "180分〜",
            value: "300"
          },
        ],
        levelSet: [
          {
            title: "初級",
            value: "1"
          },
          {
            title: "中級",
            value: "2"
          },
          {
            title: "上級",
            value: "3"
          },
        ],
        filterSet: [
          {
            title: "新着順",
            value: "created_at"
          },
          {
            title: "難易度順",
            value: "level"
          },
          {
            title: "プレイ数順",
            value: "playings"
          },
          {
            title: "評価順",
            value: "rating"
          },
        ],
        options: [
          {
            value: 'Option1',
            label: 'Option1',
          },
          {
            value: 'Option2',
            label: 'Option2',
          },
        ],
        value: "",
      }
    },
    //ムスタッシュ記法を変更
    compilerOptions: {
      delimiters: ['[[', ']]'],
    },
    // HTMLの読み込み完了時に実行される
    mounted() {
      this.getRiddleRanking();
      this.getRiddleList();
    },
    // これは任意の関数
    methods: {
      getTypeDisplay(type) {
        return this.typeSet.find(el => el.value == type).title;
      },
      getTimeDisplay(time) {
        return this.timeSet.find(el => el.value == time).title;
      },
      getLevelDisplay(level) {
        return this.levelSet.find(el => el.value == level).title;
      },
      getRankingColor(index) {
        if(index == 1) {
          return "bg-yellow-400"
        }else if(index == 2) {
          return "bg-gray-400"
        }else if(index == 3) {
          return "bg-yellow-700"
        }else{
          return "bg-gray-700"
        }
      },
      getRiddleRanking() {
        axios.get(`/api/v2/ranking/`)
          .then((res) => {
            console.log(res)
            this.riddle_ranking = res.data
          })
      },
      getRiddleList() {
        axios.get(`/api/v2/riddle_list/?order=created_at`)
          .then((res) => {
            console.log(res)
            this.riddle_list = res.data.results
          })
      },
      async bookmarkRiddle(pk) {
        const params = ""
        await fetch(`/api/v2/bookmark/${pk}/`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
            'X-CSRFToken': "{{ csrf_token }}",
          },
          body: params
        })
        .then(response => response.json())
        .then(data => {
          console.log(data)
        })
        .catch((error) => {
          console.error('Error:', error);
        });
        this.getRiddleList();
      },
      async playingRiddle(pk) {
        const params = ""
        await fetch(`/api/v2/playing/${pk}/`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
            'X-CSRFToken': "{{ csrf_token }}",
          },
          body: params
        })
        .then(response => response.json())
        .then(data => {
          console.log(data)
        })
        .catch((error) => {
          console.error('Error:', error);
        });
      },
      getBookmarked(riddle) {
        return riddle.bookmarks.includes(Number(this.userId));
      }
    }
  })
  for (const [key, component] of Object.entries(ElementPlusIconsVue)) {
    app.component(key, component)
  }
  app.component('star-rating', VueStarRating.default);
  app.use(ElementPlus);
  app.mount('#app');
</script>
{% endblock script %}
